.main-calendar {
  background-color: #fefbe9;
  box-shadow: 0 0 2px 0 black;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto 0;
  width: 90%;
  height: 90%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
