.main-calendar {
  background-color: lightpink;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
  height: 90%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
