.modal-calendar {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 70vh;
  background-color: #e1eedd;
  text-align: center;
  &:hover {
    cursor: auto;
  }
}
.modal-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #666;
  opacity: 0.8;
  &:hover {
    cursor: auto;
  }
}
.add-button-modal {
  text-transform: uppercase;
  background-color: #fff;
  border: none;
  border-radius: 20px 5px;
  margin: 0 auto;
  width: 10%;
  height: 80px;
  font-family: arial;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 0 2px 0 black;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    background-color: #fefbe9;
    box-shadow: 0 0 10px 0 rgb(6, 58, 6);
  }
}
.title-label,
.body-label {
  text-align: left;
  margin: 0 30%;
  font-size: 14px;
}
.inputTask {
  width: 40%;
  margin: 0 auto;
}
