.day-calendar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-basis: 12.65%;
  margin: 10px;
  box-shadow: 0 0 1px 0 black;
  border-radius: 20px 10px;

  background-color: #e1eedd;
  color: #183a1d;

  font-size: 1rem;

  transition: 0.3s;

  &:hover {
    background-color: #f0a04b;
    color: #000;
    cursor: pointer;
  }

  &:hover p.isEventOn {
    color: #416a59;
  }

  &:hover p.number-day-calendar {
    transform: translate(30px) scale(1.4) rotateZ(360deg);
  }

  &:hover p.isDayOfWeek {
    transform: scale(1.6);
  }

  &:hover p.isSundayDay {
    transform: scale(1.6);
  }

  @media (min-width: 1920px) {
    font-size: 1.2rem;
  }
}
.isEventOn {
  color: rgb(241, 50, 50);
  font-size: 1rem;
}
.isSundayDay {
  color: rgb(241, 50, 50);
  font-weight: 700;
  transition: 0.3s;
}

.isDayOfWeek {
  transition: 0.3s;
}

.number-day-calendar {
  font-size: 1.4rem;
  font-weight: 600;
  transition: 0.5s;
}
