.day-calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  // width: 100px;
  flex-basis: 12%;
  font-size: 12px;
  line-height: 1px;
  background-color: #90ee90;
  margin: 10px;
  transition: 0.3s;
  &:hover {
    background-color: limegreen;
    cursor: pointer;
  }
}
