.task-list-container {
  min-height: 35vh;
  width: 100%;
  border-top: 2px solid black;
  padding-top: 1rem;
  overflow-x: hidden;
  overflow: scroll;

  background-color: #fefbe9;

  font-size: 1.2rem;

  @media (min-width: 1920px) {
    font-size: 1.8rem;
  }
}
.task-list-container::-webkit-scrollbar {
  width: 0.5rem;
}

.task-list-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.task-list-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.task-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.task {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-basis: 30%;
  height: 10rem;
  margin-bottom: 1rem;
  border-radius: 30px 30px 5px 5px;
  box-shadow: 2px 0 4px 0 black;

  background-color: #e1eedd;

  font-size: 0.8rem;

  @media (min-width: 1920px) {
    height: 12rem;
    font-size: 1.2rem;
  }
}
.info-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 150px;
  border: 3px solid red;
  border-radius: 10px;

  background-color: #ddd;

  font-size: 12px;
  line-height: 150px;
}

.remove-task-button {
  width: 30%;
  border: none;
  box-shadow: 0 0 2px 0 black;

  background-color: #fff;

  transition: 0.3s;

  &:hover {
    width: 60%;
    border-radius: 20px;
    background-color: #f0a04b;
    cursor: pointer;
  }
  @media (min-width: 1920px) {
    padding: 0.5rem;
    font-size: 1.4rem;
  }
}
